<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-2" data-toc-modified-id="Challenge-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 2</a></span><ul class="toc-item"><li><span><a href="#Problem-Solving-Iteration-1" data-toc-modified-id="Problem-Solving-Iteration-1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Problem Solving Iteration 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed." data-toc-modified-id="The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed.-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>The <code>Total</code> field is computed based on <code>HP</code>, <code>Attack</code>, <code>Defense</code>, <code>Sp. Atk</code>, <code>Sp. Def</code>, and <code>Speed</code>.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-2" data-toc-modified-id="Problem-Solving-Iteration-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Problem Solving Iteration 2</a></span><ul class="toc-item"><li><span><a href="#Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?" data-toc-modified-id="Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Which pokemon type is most likely to have the highest <code>Total</code> value?</a></span><ul class="toc-item"><li><span><a href="#Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type." data-toc-modified-id="Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type.-1.2.1.1"><span class="toc-item-num">1.2.1.1&nbsp;&nbsp;</span><code>Type 1</code> and <code>Type 2</code> string variables need to be converted to numerical variables in order to identify the relationship between <code>Total</code> and the pokemon type.</a></span></li><li><span><a href="#How-to-convert-two-string-variables-to-numerical?" data-toc-modified-id="How-to-convert-two-string-variables-to-numerical?-1.2.1.2"><span class="toc-item-num">1.2.1.2&nbsp;&nbsp;</span>How to convert two string variables to numerical?</a></span></li><li><span><a href="#In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create." data-toc-modified-id="In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create.-1.2.1.3"><span class="toc-item-num">1.2.1.3&nbsp;&nbsp;</span>In the next cell, use One Hot Encoding to encode <code>Type 1</code> and <code>Type 2</code>. Use the pokemon type values as the names of the numerical fields you create.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-3" data-toc-modified-id="Problem-Solving-Iteration-3-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Problem Solving Iteration 3</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations." data-toc-modified-id="There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations.-1.3.0.1"><span class="toc-item-num">1.3.0.1&nbsp;&nbsp;</span>There are relationships between <code>Total</code> and the encoded pokemon type variables and we need to identify the correlations.</a></span></li><li><span><a href="#How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?" data-toc-modified-id="How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?-1.3.0.2"><span class="toc-item-num">1.3.0.2&nbsp;&nbsp;</span>How to identify the relationship between <code>Total</code> and the encoded pokemon type fields?</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Bonus-Question" data-toc-modified-id="Bonus-Question-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bonus Question</a></span></li></ul></div>

# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [2]:
# Import libraries
import numpy as np
import pandas as pd

In [4]:
# Importing the dataset from Ironhack's database
df=pd.read_csv(r'C:\Users\Vithushan\IronHack\\Lab_29 Dataframe Calculations\Pokemon.csv')

In [26]:
df.shape

(800, 14)

In [6]:
df.head(4)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [7]:
# your code here
#my hypothesis is that the Total is the sum of all ather parameters 
df['Sum'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

Comment: Yeah, Total is just a sum of all those columns

In [8]:
#This proves that formula is good for all pokemons
x  = df['Total'] == df['Sum']
x.value_counts()

True    800
dtype: int64

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [9]:
# your code here
from sklearn.preprocessing import OneHotEncoder

In [15]:
types = df[['Type 1','Type 2']]
types['T12'] = types.apply(tuple, axis=1)
types.head(5)

C:\Users\radek\AppData\Local\Temp/ipykernel_4976/3700971116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  types['T12'] = types.apply(tuple, axis=1)

  Type 1  Type 2              T12
0  Grass  Poison  (Grass, Poison)
1  Grass  Poison  (Grass, Poison)
2  Grass  Poison  (Grass, Poison)
3  Grass  Poison  (Grass, Poison)
4   Fire     NaN      (Fire, nan)

In [18]:
dummy_type_1 = pd.get_dummies(types['Type 1'])
dummy_type_1.head(5)

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [19]:
dummy_type_2 = pd.get_dummies(types['Type 2'])
dummy_type_2.head(5)

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [21]:
type_2 = list(df['Type 2'].value_counts().index)
type_2

['Flying',
 'Ground',
 'Poison',
 'Psychic',
 'Fighting',
 'Grass',
 'Fairy',
 'Steel',
 'Dark',
 'Dragon',
 'Water',
 'Ghost',
 'Ice',
 'Rock',
 'Fire',
 'Electric',
 'Normal',
 'Bug']

In [22]:
dummy_final = pd.DataFrame(index=types.index)
for column_name in type_2:
    dummy_final[column_name] = dummy_type_1[column_name] + dummy_type_2[column_name]

In [24]:
dummy_final.head(5)

,Flying,Ground,Poison,Psychic,Fighting,Grass,Fairy,Steel,Dark,Dragon,Water,Ghost,Ice,Rock,Fire,Electric,Normal,Bug
0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [27]:
dummy_final.shape

(800, 18)

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [39]:
# your code here
dummy_type_2.corrwith(df['Total']).sort_values()

Poison     -0.067837
Grass      -0.039224
Fairy      -0.024606
Bug        -0.021375
Water      -0.018800
Normal     -0.013956
Ghost      -0.004885
Rock       -0.000512
Electric    0.014669
Ground      0.016486
Flying      0.054048
Dark        0.065844
Steel       0.070307
Fire        0.073234
Psychic     0.076054
Ice         0.100870
Dragon      0.115240
Fighting    0.138726
dtype: float64

In [ ]:
#The highest correlation from Type 2 is to Fighting pokemon>

In [40]:
dummy_type_1.corrwith(df['Total']).sort_values()

Bug        -0.143957
Normal     -0.104150
Poison     -0.057123
Grass      -0.036057
Fighting   -0.029086
Fairy      -0.026948
Water      -0.015640
Ice        -0.002412
Ground      0.004082
Ghost       0.007594
Electric    0.016715
Dark        0.017818
Flying      0.029504
Rock        0.037524
Fire        0.050527
Steel       0.082000
Psychic     0.094364
Dragon      0.196532
dtype: float64

In [ ]:
#The highest correlation with Total from Type 1 is Dragon pokemon

In [34]:
#In order to see if it makes sense I found the pokemon(s) with the highest Total> both Dragon (Type 1) and Fighting (Type 2) are pesent in this search result thus I may assume that the correlation was done properly.
df[df['Total'] == df['Total'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,780
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,780

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [38]:
# your code here
dummy_final.corrwith(df['Total']).sort_values()

Bug        -0.145781
Normal     -0.105331
Poison     -0.090441
Grass      -0.052592
Fairy      -0.036698
Water      -0.021665
Ghost       0.003641
Ground      0.015060
Electric    0.020971
Rock        0.032731
Dark        0.056154
Flying      0.059383
Ice         0.060248
Fighting    0.077786
Fire        0.078726
Steel       0.109703
Psychic     0.124688
Dragon      0.229705
dtype: float64

In [ ]:
#The highest correlation with total for both types has 'Dragon'. This is why I would choose that one.